[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Nginx that uses environment variables to build a configuration file using envsubst
[access "refs/*"]
	owner = group user/Marcelo Milhomem (milhomem)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Marcelo Milhomem (milhomem)
	label-Verified = -1..+1 group user/Marcelo Milhomem (milhomem)
	push = group user/Marcelo Milhomem (milhomem)
	read = group user/Marcelo Milhomem (milhomem)
	rebase = group user/Marcelo Milhomem (milhomem)
	removeReviewer = group user/Marcelo Milhomem (milhomem)
	submit = group user/Marcelo Milhomem (milhomem)
[access "refs/heads/*"]
	create = group user/Marcelo Milhomem (milhomem)
	push = +force group user/Marcelo Milhomem (milhomem)
	pushMerge = group user/Marcelo Milhomem (milhomem)
	read = group user/Marcelo Milhomem (milhomem)
[access "refs/tags/*"]
	push = group user/Marcelo Milhomem (milhomem)
	push = +force group user/Marcelo Milhomem (milhomem)
